<aside
  class="bg-white h-1/2 w-36 fixed top-44 left-0 flex flex-col justify-center items-center shadow-md rounded-r-lg"
>
  <nav class="py-8">
    <ul>
      <li class="mb-12">
        <a
          href="/dashboard"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-200 rounded transition duration-300"
          >Dashboard</a
        >
      </li>
      <li class="mb-12">
        <a
          href="/profile"
          class="block py-2 px-4 text-gray-700 hover:bg-gray-200 rounded transition duration-300"
          >Profile</a
        >
      </li>
      <button
        type="button"
        class="block py-2 px-4 text-gray-700 hover:bg-gray-200 rounded transition duration-300"
      >
        Cerrar sesion
      </button>
    </ul>
  </nav>
</aside>
