<!-- post.component.html -->
<div class="bg-white p-4 rounded shadow-md w-96 m-5">
  <div class="flex items-center mb-4">
    <img
      src="user-profile-image-url"
      alt="User Profile"
      class="w-10 h-10 rounded-full mr-2"
    />
    <div>
      <p class="font-bold">John Doe</p>
      <p class="text-gray-600 text-sm">
        Posted on: {{ post.createdat | date : "medium" }}
      </p>
    </div>
  </div>
  <h2 class="text-lg font-bold mb-2">{{ post.title }}</h2>
  <p class="mb-4">{{ post.content }}</p>
  <!-- <p class="mb-4">content</p> -->

<div class="flex items-center justify-between">
    <div class="flex items-center">
      <button (click)="onEdit()" class="mr-4">
        Edit
      </button>
      <button (click)="onDelete()">
        Delete
      </button>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <button class="flex items-center text-gray-500 mr-4">
        <svg
          class="w-5 h-5 fill-current mr-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          />
        </svg>
        <span>{{ post.likes }}</span>
        <!-- <span>25</span> -->
      </button>
    </div>

    <!-- Add other actions like delete, edit, etc. -->
  </div>
</div>
