<app-side-nav></app-side-nav>
<div class="flex flex-col items-center justify-center">
  <h1 class="text-gray-500 text-xl text-center mt-8 mb-4">Write a post!</h1>
  <form
    class="m-5 w-3/4 flex flex-col items-center"
    (ngSubmit)="createNewPost()"
  >
    <input
      [(ngModel)]="newPost.title"
      name="postTitle"
      type="text"
      class="w-full p-2 mb-2 border rounded-md resize-none"
      placeholder="Title"
    />
    <textarea
      [(ngModel)]="newPost.content"
      name="postContent"
      class="w-full p-2 border rounded-md resize-none"
      placeholder="Write your post here"
    ></textarea>
    <button
      type="submit"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Post
    </button>
  </form>
  <app-posts
    [posts]="postsArray"
    [currentUserID]="currentUserId"
    (likesChanged)="onLikesChanged($event)"
    (createdPost)="onLikesChanged($event)"
    (deletedPost)="deletedPost($event)"
  ></app-posts>
</div>
